*.tar
*.tar.gz

.env
.venv
venv

deploy.ps1

.idea
__pycache__
Modelfile
model.gguf

# huge local data
ollama_data/
qdrant_data/
*.gguf
*.bin
*.pt
*.pth
*.safetensors
*.onnx

# python
__pycache__/
*.pyc
.venv/
venv/

# git
.git/
